@{
    ViewData["Title"] = "Home Page";
}
<a class="navbar-brand" asp-area="" asp-controller="Equipe" asp-action="Index">Equipes</a>
<a class="navbar-brand" asp-area="" asp-controller="Noticias" asp-action="Index">Noticias</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
